html,body,div,ul,li,svg{
    margin:0;
    padding: 0px;
    list-style:none;
}

/*------------Global-------------*/
html,body{
    height: 100%;
    position: relative;
    background: whitesmoke;
}

.container{
    height:100%;
}
.container .section{
    width:100%;
}
.container .canvas{
    width:100%;
    background:lightgray;
    height:600px;
}

/*------------font-------------*/

h1{
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 26px;
    color: darkred;
    padding-bottom: 20px;
    padding-top:35px;
    /*padding-left: 100px;*/
    width: 100%;
    margin-right: 0;
    /*position: absolute;*/
}


.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
